<h1>Welcines</h1>
Property Binding
<h1>Welcome to  {{hotelName}} </h1>


<div [ngStyle]="{'color': rooms.availableRooms ? 'green' : 'red'}">
<div [hidden] = "hiderooms"  >
    <div [hidden] = "hiderooms" >
    Interpolation
    Number of Rooms:
    <div [innerText]="numberOfRooms"></div>
    Event Binding

</div>
</div>


<div *ngIf="selectedRoom">
  {{selectedRoom | json}}
</div>


<div *ngIf="rooms.availableRooms > 0">
    RoomList
    <app-rooms-list [rooms]="roomList" [title]="title"
    (selectedRoom)="selectRoom($event)"
    ></app-rooms-list>

</div>
<div>
   <button (click)="addRoom()">AddRoom</button>"
</div>
<button (click)="toogle()">Toggle</button>

